path.between{
  stroke-width:3px;
}

text.categoryLabel{
  font-size: 14px;
  font-weight: 600;
}

text.categoryLabel tspan{
  font-weight:400;
}

text.rankNum{
  font-weight:700;
  font-size: 14px;
}

g.x.axis.categorical text{
  font-size: 16px;
  font-weight: 700;
  fill: "#414042";
}
